/*#publicSection, #privateSection {
	display: none;
}

/* hack, intencionalmente oculto, con display none no funciona */
/* iframe {
  top: 0;
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
} */



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.container {
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
 
  align-items: center;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#actionsSection {
  position: absolute;
  left: -9999px;
}
main {
  margin: 1rem;
}
.container {
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
}

.logo {
  display: inline-block; /* Asegura que el logo no ocupe toda la línea */
}

.menu {
  display: flex; /* Usa flexbox para alinear los elementos del menú */
 margin-right: 30px;
}

.search-profile {
  margin-right: 20px; /* Espacio entre el buscador y el perfil */
}

.profile {
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
  margin-right: 20px; /* Espacio entre el perfil y el buscador */
}

#profileSection {
  flex-grow: 1; /* Permite que profileSection ocupe todo el espacio restante */
}

.search {
  display: flex; /* Alinea el label y el input horizontalmente */
  align-items: center; /* Alinea verticalmente al centro */
  margin-right: 10px;
}

.input-search {
  padding: 10px;
  box-sizing: border-box;

  border: 1px solid #ccc;
  border-radius: 6px;
}

.playlists {
  grid-area: playlists;
  display: flex;
  flex-direction: row;

  margin: 1rem;
  justify-content: space-between;
}
.footer {
  grid-area: footer;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}
/* .profile {
  position: absolute;
  left: -9999px;
} */
.audio-player {
  position: absolute;
  left: -9999px;
}

/*---------------------------------------------------menu -------------------------------------------*/
#menuSection {
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
  display: none;
}

/*---------------------------------------------------------------------------------------------------*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (min-width: 600px) {






 



  .footer {
    position: absolute;
    left: -9999px;
  }
  .audio-player {
    grid-area: player;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  }
  audio::-webkit-media-controls-panel {
    background-color: #333;
    border-radius: 10px;
  }

  audio::-webkit-media-controls-play-button,
  audio::-webkit-media-controls-volume-slider,
  audio::-webkit-media-controls-mute-button,
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
    color: white;
  }

  /* Personalización de los controles en Firefox */
  audio::-moz-media-controls {
    background-color: #333;
    border-radius: 10px;
    color: white;
  }
  #profileButton {
    background-color: #191414;
  }
}
