:root {
	--spotify-green: #1db954;
	--spotify-black: #191414;
	--spotify-gray: #282828;
	--spotify-light-gray: #b3b3b3;
	--spotify-white: #ffffff;
  }
  
  body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: var(--spotify-black);
	color: var(--spotify-white);
  }
  
  button {
	background-color: var(--spotify-green);
	color: var(--spotify-white);
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
  }
  
  button:hover {
	background-color: #1ed760;
  }
  
  #publicSection, #privateSection {
	display: none;
	padding: 20px;
  }
  
  h1, h2 {
	color: var(--spotify-white);
  }
  
  ul {
	list-style: none;
	padding: 0;
  }
  
  ul li {
	display: flex;
	align-items: center;
	margin: 10px 0;
  }
  
  ul li img.playlist-image {
	width: 200px;
	height: 200px;
	margin-right: 10px;
	border-radius: 4px;
  }
  
  a {
	color: var(--spotify-green);
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: underline;
  }
  
  #playlists {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	padding: 0;
	list-style-type: none;
  }

  .playlist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}


.playlist-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.playlist-name {
  margin-top: 8px;
  text-align: center;
}