:root {
	--spotify-green: #080808;
	--spotify-black: #191414;
	--spotify-gray: #282828;
	--spotify-light-gray: #b3b3b3;
	--spotify-white: #ffffff;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: black;
	color: var(--spotify-white);
}


.buscador {
	width: 100%; 
	max-width: 600px; 
	display: flex; 
	align-items: center; 
  }

button {
	background-color: black;
	color: black;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	color: white;
}

button:hover {
	background-color: var(--spotify-gray);
}

#publicSection, #privateSection {
	display: none;
	padding: 20px;
}

h1, h2 {
	color: var(--spotify-white);
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

ul li img.playlist-image {
	width: 200px;
	height: 200px;
	margin-right: 10px;
	border-radius: 4px;
}

a {
	color: var(--spotify-green);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#playlists {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	padding: 0;
	list-style-type: none;
}

.playlist-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
}

.playlist-image {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.playlist-name {
	margin-top: 8px;
	text-align: center;
}

#privateSection {
	display: flex;
	height: 100vh; 
}

#menuSection {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px; 
	padding: 20px;
	width: 200px; 
	background-color: black !important;
	color: #ecf0f1; 
}

#menuSection button {
	width: 100%;
	padding: 15px; 
	font-size: 16px; 
	cursor: pointer; 
	border: none; 
	color: #ecf0f1;
	text-align: left; 
}

#menuSection button:hover {
	background-color: #3b3b3b; 
}

#playlistsSection {
	width: 600px !important;
	flex: 1;
	padding: 20px;
	background-color: black;
	overflow-y: auto; 
}

#playlistsSection p {
	font-size: 24px;
	font-weight: bold;
}

#playlists ul, #playlistSingle ul {
	list-style-type: none;
	padding: 0;
}

#spotifyEmbedSection {
	grid-area: footer;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 35%;
	color: white;
	display: flex;
	justify-content: space-around;
	padding: 10px 0;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
	margin-right: 20px;
	margin-bottom: 20px;
}

.playlistImage {
	width: 300px;
	height: 300px;
}

  
  .menu-toggle {
	display: none; 
  }
  

  
  .menu-item {
	display: flex;
	align-items: center;
	padding: 15px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
  }
  
  .menu-item:hover {
	background-color: #555;
  }
  
  @media (max-width: 768px) {
	#menuSection {
	  display: none;
	}
  }

  @media (max-width: 768px) {
	.container {
	  display: none; 
	}
  }
  
  .footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #000000;
	color: white;
	text-align: center;
	padding: 10px 0;
  }
  
  .menu2 {
	flex-direction: row !important;
	display: flex !important; 
	justify-content: center !important; 
	
  }
  
  .menu-item {
	background: none;
	border: none;
	color: white;
	cursor: pointer;
	display: flex;
	
	align-items: center;
  }
  
  .menu-item:hover {
	background-color: rgba(255, 255, 255, 0.1);
  }
  
  @media (min-width: 768px) {
	.footer {
	  display: none; 
	}
  }

.logo2 {
	display: none; 
  
  @media (max-width: 768px) {
	.logo2 {
	  display: inline-block; 
	}
  }
}